<h1>La Gazette</h1>

<div class="container">
  <h3>Toute l'actu footix</h3>

  <div class="flex-center">
    <%= link_to 'Ecrire un article', new_article_path, class: "btn-sport" %>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'shared/article_card', article: article %>
      </div>
    <% end %>
  </div>
</div>
