<% games.each do |game| %>
  <div id="game-bet-<%= game.id %>" class="game-bet">
    <%= render 'shared/game_bet', game: game %>
  </div>
<% end %>

<div class="flex-center">
  <button id="submit-bets">Parier!</button>
</div>
