<table>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= game.team_home.name %></td>
        <td><%= game.score_home %></td>
        <td><%= game.score_away %></td>
        <td><%= game.team_away.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
