<h2>Ligue des talents</h2>

<table>
  <thead>
    <tr>
      <td colspan="3">Club</td>
      <td>Pts</td>
      <td>+</td>
      <td>-</td>
      <td>Dif.</td>
      <td>~5</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Rank</td>
      <td>Logo</td>
      <td>Club</td>
      <td>Pts</td>
      <td>+</td>
      <td>-</td>
      <td>Dif.</td>
      <td>~5</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
