<h1>Classements</h1>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render 'shared/users_ranking', users: @users %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= render 'shared/l1_ranking', teams: @teams %>
      </div>
  </div>
</div>
