<h1>Le live do Brasil</h1>

<%= form_tag('/live', remote: true) do %>
  <%= label_tag(:matchday, 'Journée :') %>
  <%= select_tag(:matchday, options_for_select((1..38).to_a, Game.current_matchday), onchange: 'Rails.fire(this.form, "submit")') %>
<% end %>

<div id="game-grid">
  <%= render 'shared/games_live', games: @games %>
</div>
