<h1>Pose tes pronos</h1>

<div class="container">
  <%= render 'shared/select_matchday', path: '/pronos' %>

  <div id="bets-grid">
    <%= render 'shared/games_bets', games: @games %>
  </div>

  <div class="flex-center">
    <button id="submit-bets" class="btn-sport">Parier!</button>
  </div>
</div>
