.article-card {
  width: 100%;
  background: #FFFE;
  position: relative;
  padding: 5px;
  border: 3px solid orangered;
  border-radius: 8px;
  margin-bottom: 15px;
  h4 {
    text-align: center;
  }
  .pre-content {
    white-space: pre-line;
    overflow:hidden;
    max-height:50px;
  }
}

.article-link {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  &:hover {
    background: #FFF2;
  }
}
