.game-bet {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  height: 75px;

}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sport {
  border-radius: 8px;
  background: linear-gradient(to right, blue, white 45%, white 55%, red);
  border: 2px solid white;
  padding: 10px 20px;
  color: #222;
  font-weight: bold;
  &:hover {
    color: #222;
    font-weight: bold;
    transform: scale(1.02);
    opacity: 0.8;
  }
}

.game-info {
  flex-direction: column;
}

.team-home {
  text-align: right;
  justify-content: flex-end;
}

.team-away {
  text-align: left;
  justify-content: flex-start;
}
